<mat-toolbar color='primary' class="toolbar">
  <span>Reddit Viewer</span>
  <span class="example-spacer"></span>
  <mat-form-field class="mat-form-field">
    <mat-label color="primary">Choose Argument</mat-label>
    <mat-select [(ngModel)]="selectedArgument" (ngModelChange)="loadPosts()">
      <mat-option value="all">All</mat-option>
      <mat-option value="art">Art</mat-option>
      <mat-option value="worldnews">News</mat-option>
      <mat-option value="aww">Animals</mat-option>
      <mat-option value="memes">Memes</mat-option>
      <input matInput [(ngModel)]="selectedArgument" (ngModelChange)="loadPosts()" placeholder="subreddit" value="all">
    </mat-select>
  </mat-form-field>
  <span class="example-spacer1"></span>
  <mat-icon class="icon">light_mode</mat-icon><mat-slide-toggle
    (toggleChange)="changeTheme()"></mat-slide-toggle><mat-icon class="icon">dark_mode</mat-icon>
</mat-toolbar>

<app-post></app-post>

<!-- <mat-paginator [length]="100"
              [(ngModel)]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (ngModelChange)="loadPosts()"
              aria-label="Select page">
</mat-paginator> -->

<mat-form-field class="mat-form-field">
<mat-label color="primary">{{pageSize}}</mat-label>
<mat-select [(ngModel)]=pageSize (ngModelChange)="loadPosts()">
  <mat-option value="50">50</mat-option>
  <mat-option value="100">100</mat-option>
  <input matInput [(ngModel)]=pageSize (ngModelChange)="loadPosts()" maxlength="3" placeholder="50" value="50">
</mat-select>
</mat-form-field>

