.example-spacer {
  flex: 1 1 auto;
}

.example-spacer1 {
  flex: 0.05 0.05 auto;
}

// .container{
//   background-color: #EFF7FF;
//   background-color: #336699;
// }

.mat-form-field {
  margin: auto;
}


