.example-spacer {
  flex: 1 1 auto;
}

.example-spacer1 {
  flex: 0.05 0.05 auto;
}

.mat-form-field {
  margin-top: 2vh;
}

.icon{
  margin: 0px 8px;
}

.toolbar{
  height: 10vh;
}

.my-select-panel-class{
background-color: #FF4500;
}


