<mat-toolbar color= 'primary'>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Reddit</span>
  <span class="example-spacer"></span>
  <mat-form-field>
    <mat-label>Choose Argument</mat-label>
    <mat-select [(ngModel)]="selectedArgument" (ngModelChange)="loadPosts()">
      <mat-option value="all">All</mat-option>
      <mat-option value="art">Art</mat-option>
      <mat-option value="worldnews">News</mat-option>
      <mat-option value="aww">Animals</mat-option>
      <mat-option value="pokemon">Pokemon</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-icon class="icon">light_mode</mat-icon><mat-slide-toggle (toggleChange)="changeTheme()"></mat-slide-toggle><mat-icon class="icon">dark_mode</mat-icon>
</mat-toolbar>
<app-home-page></app-home-page>
