.example-card {
  margin: 4px;
 flex-grow: 1;
  height: 50vh;
 max-height: 80vh;
 max-width: 32vw;
overflow: hidden;
}

img{
 width: 300px;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.title{
  white-space: normal;
}

@media screen and (max-width: 992px) {
  .example-card {
    flex-grow: 1;
    min-height: 5vh;
    height: auto;
    max-width: none;
   overflow: hidden;
   }
}
